.cards_container{
    display:grid;
    justify-content: center;
    grid-template-columns: 16% 16% 16% 16% 16%;
    column-gap: 2.2rem;
    row-gap: 2.2rem;
    margin-top: 2rem;
}

.manageProfessionsMainContainerSpinner{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_main_container_spinner{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.buttonGroup{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.Cards_img{
    width:100%;
}

@media only screen and (max-width: 600px) {
    .buttonGroup{
        flex-wrap: wrap;
    }

    .cards_container{
        grid-template-columns: 45% 45%;
        column-gap: 1.5rem;
        row-gap: 1.5rem;
    }
    
}

